name: minnesota
description: "A project by Software company LTD"

publish_to: 'none' # Remove this line if you wish to publish to pub.dev


version: 1.0.0+1

environment:
  sdk: ^3.6.0



dependencies:
  flutter:
    sdk: flutter



  cupertino_icons: ^1.0.8
  get: ^4.7.2
  google_fonts: 
  get_storage: ^2.1.1

dev_dependencies:
  flutter_test:
    sdk: flutter

  flutter_lints: 





flutter:

  uses-material-design: true

  assets:
     - assets/
     - assets/images/

